:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color:#ffff;
    --secondary-bg-color: #F5F4FA;
}
body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.list {
    list-style:none;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
}

/* Header */
.logo,
.logo-footer {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    color: #000;
}
.logo-accent{
    color: var(--accent-color);
}

.nav-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--primary-text-color);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus,
.link-footer:hover,
.link-footer:focus,
.link-address:hover,
.link-address:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}
/* End Header */

/*Hero Section*/
.hero-section {
    background-color: #2F303A;
}
.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #fff;
}
.hero-button { 
    color: #fff;
    background: var(--accent-color);
    font-family:inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px; 
    padding: 10px 32px;
    cursor: pointer;   
}
/* End Hero Section*/

/* Pluses */
.plus-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}   
.plus-description {
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-text-color);
}
/*End Pluses */

/* Team */
.team-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

.team-position {
    color:var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.2;
}

.team-person {
    background: var(--primary-bg-color);
}

.team-section {
    background: var(--secondary-bg-color);
}
/* End Team */
.button {
    font-family:inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--secondary-bg-color);
    border: 0;
    border-radius: 4px; 
    margin-left: 8px;
    padding: 6px 22px;
    cursor: pointer;    
}

.button:hover,
.button:focus {
    color: #fff;
    background: var(--accent-color); 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-button:hover,
.hero-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #188CE8;  
}

/* Footer */
.footer {
    background-color: #2F303A;
} 
.logo-white {
    color: #fff;   
}

.link-footer {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.link-address {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    font-style: normal;
    color: #ffff;
    text-decoration: none;
}
/* End Footer */

/* Portfolio */
.work-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}
.work-kind {
    font-size: 16px;
    line-height: 1.9;
    color: var(--secondary-text-color);
}
.work {
    background: rgba(255, 255, 255, 1);
}

/* End Portfolio */